- name: Setup H2 Database Server
  hosts: db
  become: yes

  tasks:
    - name: Install Java (required by H2)
      apt:
        name: openjdk-11-jdk
        state: present
        update_cache: yes

    - name: Install unzip utility
      apt:
        name: unzip
        state: present
        update_cache: yes

    - name: Create H2 directory
      file:
        path: /opt/h2
        state: directory
        mode: '0755'

    - name: Download H2 database
      get_url:
        url: https://github.com/h2database/h2database/releases/download/version-2.4.240/h2-2025-09-22.zip
        dest: /tmp/h2.zip
        mode: '0644'
      register: h2_download
      retries: 3
      delay: 5
      until: h2_download is succeeded

    - name: Unzip H2
      unarchive:
        src: /tmp/h2.zip
        dest: /opt/h2
        remote_src: yes
        creates: /opt/h2/bin/h2.sh

    - name: Start H2 in server mode
      shell: |
        nohup java -cp /opt/h2/bin/h2*.jar org.h2.tools.Server -tcp -tcpAllowOthers -tcpPort 9092 &
      args:
        chdir: /opt/h2
        creates: /tmp/h2_server_started
      async: 30
      poll: 0
      ignore_errors: yes
