# Eclipse
.settings/
.classpath
.project
bin/

# IntelliJ IDEA
.idea
*.iml

# VS Code
.vscode

# Maven
target/

# OS
.DS_Store

# Mercurial
.hg/

CA2/build/*
CA2/.gradle/*

archives/
backup/
/CA3/.vagrant/
